body {
    background-image: url('../images/best-music-notes-border-black-white-background-drawing.jpg');
    font-family: 'Anton', sans-serif;
    color: black;
    letter-spacing: 2px;
}

h1 {
    font-size: 60px;
    color: orange;

}



